/*--------GOOGLE FONT API------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {

    /* Set the font to roboto. */
    font-family: 'Roboto', sans-serif;

    /* Set the background color to a light gray. */
    background-color: lightgrey;
}

a {
    color: #00B7FF;
}

.hover-shadow {
    transition: 0.2s;
}

.hover-shadow:hover {
    /* When hovering over the element with the class "hover-shadow", add a shadow larger shadow
    that makes the element appear to rise off the page. */
    transition: 0.5s;

    /* Grow the item slightly during the hover transition. */
    transform: scale(1.02);

    /* Make the border a baby blue color. */
    border-color: #71d5ff;

    /* Add a light blue shadow to the item. */
    box-shadow: 0 0 10px rgba(113, 213, 255, 0.6);
}
/*marketplace style*/
.marketplace .item-img{
  padding: 20px;
  border-radius: 30px 30px 0px 0px;
  height: 200px;
  max-height: 200px;
  object-fit: contain;
}

.marketplace .item-detail-btn{
  position: absolute; bottom: 5px; right: 10px;
}


.user-dashboard .item-img{
  max-height: 200px;
  object-fit: contain;
}

/* item Detail page */
.item-detail img {
  margin: 0 10px;
  max-width: 90%;
  max-height: 90%;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p{
    color: #162938;
    text-decoration: none;
    font-weight: 500;
}

.login-register p a:hover{
    text-decoration: underline;
}

.form-floating{
    width: 350px;
    margin: 10px;
}
.card-footer {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.card-footer-sign{
    margin-top: 1rem;
}
.my-card{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.my-card:hover{
    transform: rotate(7deg);
    background-color: #2980b9;

}
