<div class="container-fluid">
    <div class="row p-4">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <%- include('charts/accounts') %>
                </div>
            </div>
        </div>
    </div>
</div>