<%- include('../components/header') %>

<%- include('../components/navbar') %>

<div class="container-fluid h-100">
    <div class="row">
        <div class="col-12">
            <h1>Data Retrieval</h1>
            <p>For [brand] [model] </p>
        </div>
    </div>

</div>

<%- include('../components/footer') %>