<footer class="bg-light text-center w-100 footer-bottom">
    <div class="container">
        <span class="text-muted">&copy; 2024 eWaste. All rights reserved.</span>
    </div>
</footer>
</body>
</html>