<!DOCTYPE html>
<html>
<head>
    <title>eWaste</title>
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <header class="w-100" style="background-color: #B2BEB5">
        <h5 class="text-dark d-flex justify-content-center">Hope you're enjoying using our website. To know about us click&nbsp; <a href="#">learn more</a></h5>
        <%- include("navbar.ejs") %>
    </header>