<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand fs-3 fw-medium" href="#">ePanda</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <% if(auth) { %>
                    <!-- TODO: Change the href to user dashboard once it's done -->
                    <a class="nav-link active me-3" href="/users/dashboard">Dashboard</a>
                <% if (role === "user") { %> <!-- TODO: The role needs to be later refactored to ranking system -->
                    <a class="nav-link me-3" href="/users/marketplace">Marketplace</a>
                    <a class="nav-link me-3" href="/users/my_items">My Items</a>
                <% } %>
                    <a class="nav-link me-3" href="/users/my-profile">Profile</a>
                    <a class="nav-link me-3" href="/">Logout</a>
                <% } else { %>
                    <a class="nav-link active me-3" aria-current="page" href="#">Home</a>
                    <a class="nav-link me-3" href="#">Login/Signup</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>