<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">PandaWaste</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">

                <% if(auth === true) {
                    if (role === "user") { %>
                        <a class="nav-link" href="#">Dashboard</a>
                        <a class="nav-link" href="#">Marketplace</a>
                        <a class="nav-link" href="#">Profile</a>
                        <a class="nav-link" href="#">Logout</a>
                    <% }else { %>
                        <a class="nav-link" href="#">Dashboard</a>
                        <a class="nav-link" href="#">Profile</a>
                        <a class="nav-link" href="#">Logout</a>
                    <% }
                }else { %>
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Login/Signup</a>
                <% } %>


            </div>
        </div>
    </div>
</nav>
