<div id="qrCodeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content rounded-4 bg-secondary-subtle">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <img id="qrCode" src="<% url %>" alt="QR Code"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>