<link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
<link rel='stylesheet' href="/stylesheets/style.css">

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-3 fw-medium d-none d-sm-inline">Admin <%= admin.name %></span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <!-- TODO: If dashboard is considered home need to remove Home -->
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link align-middle px-0 .text-primary-emphasis fs-5">
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="nav-link align-middle px-0 .text-primary-emphasis fs-5" onclick="loadContent('dashboard')">
                            <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="nav-link px-0 align-middle .text-primary-emphasis fs-5" onclick="loadContent('userDetails')">
                            <span class="ms-1 d-none d-sm-inline">User Details</span>
                        </a>
                    </li>
                    <!-- TODO: Add the manage users link after the page is developed -->
                    <li>
                        <a href="#" class="nav-link px-0 align-middle .text-primary-emphasis fs-5">
                            <span class="ms-1 d-none d-sm-inline">Manage Users</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <div id="dashboardContent">
                <%- include('dashboard.ejs')%>
            </div>
            <div id="userDetailsContent" style="display: none">
                <%- include('user_details.ejs')%>
            </div>

        </div>
    </div>
</div>
<script>
    function loadContent(contentType) {
        document.getElementById('dashboardContent').style.display = 'none';
        document.getElementById('userDetailsContent').style.display = 'none';

        document.getElementById(contentType+'Content').style.display = 'block';
    }
</script>