<div class="container-fluid h-100 pt-5">
    <div class="row mb-3">
        <h3 class="fw-bold">Admin Dashboard</h3>
        <h4>Welcome, <%= admin.name + " " + admin.lastName %></h4>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 ">
            <div class="card h-100 bg-danger">
                <div class="card-body d-flex align-content-center justify-content-around">
                    <p class="h3 text-center text-white m-0 align-self-center"><%= numOfUsers %><br>Users</p>
                    <img src="/assets/user.svg" alt="">
                </div>
                <div class="card-footer-login">
                    <p class="text-white m-0 text-center">Total number of users</p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 bg-primary">
                <div class="card-body d-flex align-content-center justify-content-around ">
                    <p class="h3 text-center text-white m-0 align-self-center"><%= numOfFinishedTransactions %><br>Sales
                    </p>
                    <img src="/assets/transaction.svg" alt="">
                </div>
                <div class="card-footer-login">
                    <p class="text-white m-0 text-center">Finished transactions</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-success">
                <div class="card-body d-flex align-content-center justify-content-around">
                    <p class="h3 text-center text-white m-0 align-self-center"><%= savedCo2 %><br>Nkg</p>
                    <img src="/assets/leaf.svg" alt="">
                </div>
                <div class="card-footer-login">
                    <p class="text-white m-0 text-center">Saved Nkg of C02 because</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row  mb-3">
        <div class="col">
            <a class="d-block btn btn-lg btn-warning pt-3 pb-3 ms-auto me-auto h-100 d-flex justify-content-center align-items-center"
               href="/admin/accounts">Manage Users</a>
        </div>
        <div class="col">
            <a class="d-block btn btn-lg btn-warning  pt-3 pb-3 ms-auto me-auto h-100 d-flex justify-content-center align-items-center"
               href="/admin/reports">Show Reports</a>
        </div>
        <div class="col">
            <a class="d-block btn btn-lg btn-warning  pt-3 pb-3 ms-auto me-auto h-100 d-flex justify-content-center align-items-center"
               href="/admin/devices">List of Items</a>
        </div>
    </div>
    <!--    Graph Placeholders -->
    <!--    TODO change to Report component once its finished -->
    <div class="row mb-3">
        <div class="bg-body-secondary d-flex justify-content-around align-items-center col p-5">
            <h3 class="p-5 text-muted">Graph Placeholder</h3>
        </div>
    </div>
    <!--    TODO change to Report component once its finished -->
    <div class="row mb-3">
        <div class="bg-body-secondary d-flex justify-content-around align-items-center col p-5">
            <h3 class="p-5 text-muted">Graph Placeholder</h3>
        </div>
    </div>
</div>