<!-- TODO: Remove these links once headers are implemented -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<link href="https://cdn.datatables.net/v/bs5/dt-2.0.0/af-2.7.0/b-3.0.0/b-colvis-3.0.0/b-print-3.0.0/cr-2.0.0/date-1.5.2/fc-5.0.0/fh-4.0.0/kt-2.12.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sc-2.4.0/sb-1.7.0/sp-2.3.0/sl-2.0.0/datatables.min.css"
      rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-2.0.0/af-2.7.0/b-3.0.0/b-colvis-3.0.0/b-print-3.0.0/cr-2.0.0/date-1.5.2/fc-5.0.0/fh-4.0.0/kt-2.12.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sc-2.4.0/sb-1.7.0/sp-2.3.0/sl-2.0.0/datatables.min.js"></script>

<!-- Keep these links for now -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js" crossorigin="anonymous"></script>


<script src="/javascripts/reports/reports_util.js"></script>

<% if (report !== undefined) { %>
    <script src="/javascripts/reports/<%= report %>.js"></script>
<% } %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="row">
                    <div class="col-md-4 text-left align-content-center my-auto">
                        <a class="btn btn-primary mx-4" href="/staff/reports">Back</a>
                    </div>
                    <div class="col-md-4 py-4">
                        <div class="text-center">
                            <h1><%= title %> Report</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 px-4">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <%# TODO: Remove this TRUE once other reports exist%>
                        <% if (true) { %>
                            <%- include("sales", {labels: data.labels, data: data.datasets, table: data.table}) -%>
                        <% } else if (report !== undefined) { %>
                            <%- include(report, {labels: data.labels, data: data.data}) -%>
                        <% } else { %>
                            <div class="text-center">
                                <h1>Report not found</h1>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>