<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js" crossorigin="anonymous"></script>
<script src="/javascripts/reports/reports.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="row">
                    <div class="col-md-12 py-4">
                        <div class="text-center">
                            <h1>Reports</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 px-4">
                        <hr>
                    </div>
                </div>

                <div class="row px-4 pb-4">
                    <div class="col-md-6">
                        <a href="/reports/sales" class="text-decoration-none text-body">
                            <div class="card shadow-sm hover-shadow h-100">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Total Sales</h5>

                                    <div>
                                        <canvas class="my-4 w-100" id="sales_chart"></canvas>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-outline-primary" href="/reports/sales">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="/reports/referrals" class="text-decoration-none text-body">
                            <div class="card shadow-sm hover-shadow h-100">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Total Referrals</h5>

                                    <div>
                                        <canvas class="my-4 w-100" id="referrals_chart"></canvas>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-outline-primary" href="/reports/referrals">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="row px-4 pb-4">
                    <div class="col-md-4">
                        <a href="/reports/transactions" class="text-decoration-none text-body">
                            <div class="card shadow-sm hover-shadow h-100">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Devices per Class</h5>

                                    <div>
                                        <canvas class="my-4 w-100" id="device_class_chart"></canvas>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-outline-primary" href="/reports/devices">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="/reports/accounts" class="text-decoration-none text-body">
                            <div class="card shadow-sm hover-shadow h-100">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Active Accounts</h5>

                                    <div>
                                        <canvas class="my-4 w-100" id="accounts_chart"></canvas>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-outline-primary" href="/reports/accounts">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="/reports/account_types" class="text-decoration-none text-body">
                            <div class="card shadow-sm hover-shadow h-100">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Account Types</h5>

                                    <div>
                                        <canvas class="my-4 w-100" id="account_type_chart"></canvas>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-outline-primary" href="/reports/account_types">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row px-4 pb-4">
                    <div class="col-md-6">
                        <a href="/reports/cases" class="text-decoration-none text-body">
                            <div class="card shadow-sm hover-shadow h-100">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Devices per State</h5>

                                    <div>
                                        <canvas class="my-4 w-100" id="case_state_chart"></canvas>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-outline-primary" href="/reports/cases">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-md-6">
                        <a href="/reports/devices" class="text-decoration-none text-body">
                            <div class="card shadow-sm hover-shadow h-100">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Devices per Type</h5>

                                    <div>
                                        <canvas class="my-4 w-100" id="device_type_chart"></canvas>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-outline-primary" href="/reports/devices">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>