<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js" crossorigin="anonymous"></script>
<script src="/javascripts/reports/report.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="row">
                    <div class="col-md-12 py-4">
                        <div class="text-center">
                            <h1><%= title %> Report</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 px-4">
                        <hr>
                    </div>
                </div>

                <
            </div>
        </div>
    </div>
</div>