<%- include('components/header.ejs') %>

<div class="container item-detail">
    <div class="row border rounded">
        <div class="col-5">
            <img src="https://www.backmarket.co.uk/cdn-cgi/image/format%3Dauto%2Cquality%3D75%2Cwidth%3D640/https://d2e6ccujb3mkqf.cloudfront.net/af874b95-0a58-4efa-b0f4-cd020fed146b-1_6ae90150-3ee4-4659-8fc3-19d483bfed00.jpg"  alt="item"/>
        </div>
        <div class="col-5">
            <h3><%= item.name %></h3>
            <h5>Classification: <%= item.classification %></h5>
        </div>

    </div>

</div>
</body>

<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>

