<link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
<link rel='stylesheet' href="/stylesheets/style.css">


<div class="mx-4 user-dashboard">
    <!--    TODO change to Navbar component once its finished -->
    <div class="row mb-3 mx-4">
        <div class="bg-body-secondary d-flex justify-content-around align-items-center col">
            <h3 class="text-muted">Navbar Placeholder</h3>
        </div>
    </div>

    <%- include('marketplace.ejs') %>

    <!--    TODO change to Footer component once its finished -->
    <div class="row mb-3 mx-4 mt-5">
        <div class="bg-body-secondary d-flex justify-content-around align-items-center col">
            <h3 class="text-muted">Footer Placeholder</h3>
        </div>
    </div>

</div>