<link rel='stylesheet' href='/stylesheets/dashboard.css'/>

<%- include("components/header.ejs") %>

    <div class="main">
        <div class="container py-4 ">
            <h1 class="d-flex m-4 border-bottom justify-content-center text-light fw-bold mb-5 ">User Dashboard</h1>


               <div class="row align-items-md-stretch justify-content-center">
                <div class="col-md-5">
                    <a href="/user/my-items" class="text-decoration-none">
                    <div class="my-card h-100 bg p-5 border rounded-">
                        <h2 class="justify-content-between text-bg fw-bold">My Items <span class="icon mx-3">
                            <ion-icon name="clipboard-outline"></ion-icon>
                        </span> </h2>

                        <br>
                        <br>
                        <p class="text-bg">Looking for your items? I have listed it for you. Just click me to see!</p>
                    </div>
                    </a>
                </div>

                <div class="col-md-5">
                    <a href="/user/list-item" class="text-decoration-none">
                    <div class="my-card h-100 p-5 bg border rounded-3">
                        <h2 class="justify-content-center fw-bold text-bg">Add Item <span class="icon mx-3">
                            <ion-icon name="cart-outline"></ion-icon>
                        </span></h2>
                        <br>
                        <br>
                        <p class="text-bg">Wanna add a product to sell? Just click me and I'll take you there!</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row align-items-md-stretch justify-content-center mt-4">
                <div class="col-md-5">
                    <a href="/user/my-profile" class="text-decoration-none">
                    <div class="my-card h-100 w-100 p-5 bg border rounded-3">
                        <h2 class="justify-content-center text-bg fw-bold">Contact Us <span class="icon mx-3">
                            <ion-icon name="call-outline"></ion-icon>
                        </span></h2>
                        <br>
                        <br>
                        <p class="text-bg">Need assistance or discuss something? Feel free to contact us! Just click me and I'll land you to our contact page.</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="/user/my-profile" class="text-decoration-none">
                    <div class="my-card h-100 w-100 p-5 bg border rounded-3">
                        <h2 class="justify-content-center text-bg fw-bold">About Us <span class="icon mx-3">
                            <ion-icon name="business-outline"></ion-icon>
                        </span></h2>
                        <br>
                        <br>
                        <p class="text-bg">Wanna know more about our company? Well, I'll get to straight where it is present. Just click me! </p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="img-fluid d-flex w-100 mx-auto justify-content-center">
                <img src="/assets/banner.png" alt="PageBanner" class="p-4 mx-auto"/>
            </div>
        </div>
    </div>

<%- include("footer.ejs") %>

<script src="/javascripts/bootstrap.min.js"></script>
<script src="/stylesheets/bootstrap.min.css"></script>

<!----- IONICONS Script Source for Icons ------------>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!---------- Free Icons you get from "ionicons.com" ------------->