<link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<%- include("components/header.ejs") %>
<%- include("components/navbar.ejs") %>

    <div class="main" style="background-color: rgb(13 110 253);">
        <div class="container py-4 ">
            <h1 class="m-4 border-bottom mb-5 " style="text-align: center; line-height: 60px; color: white; font-weight: bold">User Dashboard</h1>


               <div class="row align-items-md-stretch justify-content-center">
                <div class="col-md-5">
                    <a href="/user/my-profile" style="text-decoration: none">
                    <div class="my-card h-100 p-5 text-bg-dark border rounded-3" style="backdrop-filter: blur(20px);
                                                                         box-shadow: 0 0 40px rgba(0,0,0,0.8);">
                        <h2 style="font-weight: bold" class="justify-content-between">My Items <span class="icon mx-3">
                            <ion-icon name="cart-outline"></ion-icon>
                        </span> </h2>

                        <br>
                        <br>
                        <p>Looking for your items? I have listed it for you. Just poke me to see!</p>
                    </div>
                    </a>
                </div>

                <div class="col-md-5">
                    <a href="/user/my-profile" style="text-decoration: none">
                    <div class="my-card h-100 p-5 text-bg-dark border rounded-3" style="backdrop-filter: blur(20px);
                                                                                    box-shadow: 0 0 40px rgba(0,0,0,0.8);">
                        <h2 style="font-weight: bold">View my orders <span class="icon mx-3">
                            <ion-icon name="clipboard-outline"></ion-icon>
                        </span></h2>
                        <br>
                        <br>
                        <p>Forgot your past? Don't worry we are here to catch up with your history. Just poke me!</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row align-items-md-stretch justify-content-center mt-4">
                <div class="col-md-5">
                    <a href="/user/my-profile" style="text-decoration: none">
                    <div class="my-card h-100 p-5 text-bg-dark border rounded-3" style="backdrop-filter: blur(20px);
                                                                         box-shadow: 0 0 40px rgba(0,0,0,0.8);">
                        <h2 style="font-weight: bold">Contact Us <span class="icon mx-3">
                            <ion-icon name="call-outline"></ion-icon>
                        </span></h2>
                        <br>
                        <br>
                        <p>Need assistance or discuss something? Feel free to contact us! Just click me and I'll land you to our contact page.</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="/user/my-profile" style="text-decoration: none">
                    <div class="my-card h-100 p-5 text-bg-dark border rounded-3" style="backdrop-filter: blur(20px);
                                                                                    box-shadow: 0 0 40px rgba(0,0,0,0.8);">
                        <h2 style="font-weight: bold">About Us <span class="icon mx-3">
                            <ion-icon name="business-outline"></ion-icon>
                        </span></h2>
                        <br>
                        <br>
                        <p>Wanna know more about our company? Well, I'll get to straight where it is present. Just poke me! </p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="img-fluid d-flex w-100 justify-content-center" style="background-color: rgb(13 110 253);">
                <img src="/assets/banner.png" alt="" class="p-4" style="background-color: rgb(13 110 253); max-height: 400px; width: 800px"/>
            </div>
        </div>
    </div>

<%- include("footer.ejs") %>










<!-- Include Bootstrap JS and Popper.js -->
<script src="/javascripts/bootstrap.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>