<link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
<link rel='stylesheet' href="/stylesheets/style.css">


<div class="mx-4 user-dashboard">
    <div class="row mb-3">
        <div class="col-8 col-sm-9 col-lg-10">
            <%- include("../components/navbar.ejs") %>
        </div>
        <div class="btn btn-primary d-flex justify-content-center align-items-center col-4 col-sm-3 col-lg-2"><a href="/users/list-item" style="    color: inherit;
    text-decoration: none;"> Add new item</a></div>
    </div>


    <div class="row mb-3 mx-4 h-100">
        <div class="bg-body-secondary d-flex justify-content-around align-items-center col">
            <h3 class="text-muted">dashboard Placeholder</h3>
        </div>
    </div>



    <!--    TODO change to Footer component once its finished -->
    <div class="row mb-3 mx-4 mt-5">
        <div class="bg-body-secondary d-flex justify-content-around align-items-center col">
            <h3 class="text-muted">Footer Placeholder</h3>
        </div>
    </div>

</div>