<%- include("../components/header") %>

<%- include("../components/navbar") %>

<div class="container-fluid vh-100">
    <div class="mx-4 user-dashboard h-100">
        <div class="row my-3">
            <div class="btn btn-primary d-flex justify-content-center align-items-center col-12"><a
                        href="/list-item" style="    color: inherit;
    text-decoration: none;"> Add new item</a></div>
        </div>

        <div class="row mb-3 mx-4 h-100">
            <div class="bg-body-secondary d-flex justify-content-around align-items-center col">
                <h3 class="text-muted">Dashboard Placeholder</h3>
            </div>
        </div>
    </div>
</div>

<%- include("../components/footer") %>