<div class="container mt-5">
    <h1>Date of Birth Input</h1>
    <form method="post" action="/checkDob">
        <div class="mb-3">
            <% if (hasMessages) { %>
                <section>
                    <ol class="mb-0 list-group list-group-numbered m-1">
                        <% messages.forEach(function(message) { %>
                            <li class="border border-danger border-1 bg-danger-subtle pt-2 pb-2 rounded-1 mb-1 list-group-item"><%= message %></li>
                        <% }); %>
                    </ol>
                </section>
            <% } %>
            <label for="birthday" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="birthday" name="birthday">
            <input hidden="hidden" name="id" value="<%= userId %>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>