<%- include("../components/header") %>

<div class="container h-100">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="justify-content-center align-items-center h-100 mt-3 ">
                <main class="w-100 m-auto p-2 d-flex justify-content-center align-items-center overflow-hidden fw-bold card shadow-lg rounded-3 bg-transparent mt-5">
                    <form class="w-75 py-5" method="POST" action="/checkDob" id="form">

                        <h1 class="parent-text text-center align-items-center justify-content-center fw-bold fw-bolder pb-4 my-2">
                            Verify Your Date of Birth
                        </h1>

                        <div class="pb-2">
                            <div class="form-floating mt-1 mx-1">
                                <input type="date" class="form-control" id="birthday" name="birthday" required>
                            </div>
                            <div class="form-floating mb-1 mx-1">
                                <input class="form-control" hidden="hidden" name="id" value="<%= userId %>">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </main>
            </div>
        </div>
    </div>
</div>


<%- include("../components/footer") %>