<%- include("../components/header") %>

<%- include("../components/navbar") %>

<!---
* Reset Password Page frontend
* @author Ayush Prajapati <aprajapati1@sheffield.ac.uk>
*/
---->

<!----------------------------------------------- Stylesheets used ------------------------------------------------>

<link rel='stylesheet' href='/stylesheets/login_register.css'/>

<!----------------------------------------------- Form-card Layout ------------------------------------------------>

<div class="container h-100">
    <div class="card shadow-lg mt-5">
        <div class="card-body p-0">
            <div class="row justify-content-center m-0">
                <div class="col-md-6 bg-success-subtle rounded-start-2 align-content-center py-5 py-md-0">
                    <p class="text-center">
                        <i class="fa-solid fa-leaf fa-5x text-center"></i>
                    </p>
                    <h1 class="text-center">
                        Password Reset
                    </h1>
                    <p class="text-center m-0">
                        Create a new password for your account.
                    </p>
                    <p class="text-center m-0">
                        We'll get you back into your account in no time!
                    </p>
                </div>
                <div class="col-md-6 justify-content-center align-content-center h-100">
                    <main class="w-100 m-auto p-2 d-flex justify-content-center align-items-center fw-bold  rounded-3">
                        <form class="w-75 py-5" method="POST" action="/reset-password">
                            <h2 class="parent-text text-start align-items-center justify-content-center fw-bold fw-bolder pb-5 my-2">
                                Enter your new password
                            </h2>
                            <!----------------------------------------------------- New Password field entries --------------------------------------------------------------------------->

                            <div class="pb-2">
                                <div class="form-floating mb-1 mx-1">
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Password"
                                           required>
                                    <label for="password">Password</label>
                                </div>

                                <div class="form-floating mb-1 mx-1">
                                    <input type="password" class="form-control" id="confirmPassword"
                                           name="confirmPassword"
                                           placeholder="Confirm Password"
                                           required>
                                    <label for="confirmPassword">Confirm Password</label>
                                </div>
                            </div>

                            <div class="card-footer-sign my-3">
                                <button class="btn btn-primary w-100 py-2"
                                        id="submit-btn">
                                    Reset
                                </button>
                            </div>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------- Footer ------------------------------------------------>

<%- include("../components/footer") %>