<%- include("../components/header") %>

<%- include("../components/navbar") %>

<!---
* Reset Password Page frontend
* @author Ayush Prajapati <aprajapati1@sheffield.ac.uk>
*/
---->

<!----------------------------------------------- Stylesheets used ------------------------------------------------>

<link rel='stylesheet' href='/stylesheets/login_register.css'/>

<!----------------------------------------------- Form-card Layout ------------------------------------------------>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="justify-content-center h-100 mt-3 align-items-center">
                <main class="form-signin w-100 m-auto p-2 justify-content-center align-items-center overflow-hidden fw-bold card shadow-lg rounded-3 bg-transparent">
                    <form class="w-75 py-5" method="POST" action="/reset-password">
                        <h2 class="parent-text text-center align-items-center justify-content-center fw-bold pb-4 my-2">
                            Create new password
                        </h2>
                        <!----------------------------------------------------- New Password field entries --------------------------------------------------------------------------->
                        <br>
                        <br>
                        <div class="form-floating mb-1 mx-1">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password"
                                   required>
                            <label for="password">Password</label>
                        </div>
                        <br>
                        <div class="form-floating mb-1 mx-1">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                   placeholder="Confirm Password"
                                   required>
                            <label for="confirmPassword">Confirm Password</label>
                        </div>
                        <br>
                        <br>

                        <div class="card-footer-sign mt-2">
                            <button class="btn btn-primary w-100 py-2"
                                    id="submit-btn">
                                Reset
                            </button>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------- Footer ------------------------------------------------>

<%- include("../components/footer") %>