<%- include("../components/header") %>

<!---
* Email Verification Page frontend
* @author Ayush Prajapati <aprajapati1@sheffield.ac.uk>
*/
---->

<!--   Email Verification Frontend page -->

<div class="container mt-5">
    <div class="card shadow-lg mt-5">
        <div class="card-body p-0">
            <div class="row justify-content-center m-0">
                <div class="col-md-6 bg-success-subtle rounded-start-2 align-content-center py-5 py-md-0">
                    <p class="text-center">
                        <i class="fa-solid fa-leaf fa-5x text-center"></i>
                    </p>
                    <h1 class="text-center">
                        Email Verified
                    </h1>
                    <p class="text-center m-0">
                        Hooray! Your email has been verified.
                    </p>
                </div>
                <div class="col-md-6 justify-content-center align-content-center h-100">
                    <main class="w-100 m-auto p-2 d-flex justify-content-center align-items-center fw-bold  rounded-3"
                          style="height: 500px">
                        <div class="w-75 py-5">
                            <p>Redirecting to Login page in 5 seconds. If not redirected, please click
                                <a href="/login">here</a>
                            </p>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   A timeout to redirect user to login page -->

<script>
    // Set a timeout to redirect to /login after 5 seconds (5000 milliseconds)
    setTimeout(function() {
        window.location.href = '/login';
    }, 5000);
</script>

